/* css/rtl.css */

[dir="rtl"] {
    /* --- Layout --- */
    .main-content {
        padding-left: 0;
        padding-right: var(--sidebar-width);
    }

    body[data-sidebar-collapsed='true'] .main-content {
        padding-right: var(--sidebar-width-collapsed);
    }

    /* --- Sidebar --- */
    .sidebar {
        right: 0;
        left: auto;
        border-left: 1px solid var(--glass-border-color);
        border-right: none;
    }
    
    .sidebar .nav-link .icon {
        margin-left: 15px;
        margin-right: 0;
    }

    .sidebar .sidebar-brand .brand-icon {
        margin-left: 10px;
        margin-right: 0;
    }
    
    body[data-sidebar-collapsed='true'] .sidebar .link-text,
    body[data-sidebar-collapsed='true'] .sidebar .brand-text {
        opacity: 0;
        visibility: hidden;
    }


    /* --- Top Nav --- */
    .top-nav .navbar-end {
        margin-right: auto;
        margin-left: 0;
    }


    /* --- Components --- */
    .theme-swatch {
        margin-left: 10px;
        margin-right: 0;
    }

    .circular-progress-card .progress-max {
        margin-right: 2px;
        margin-left: 0;
    }

    /* --- Timeline --- */
    .timeline::before {
        right: 20px;
        left: auto;
    }

    .timeline-item {
        padding-left: 0;
        padding-right: 60px;
    }

    .timeline-marker {
        right: 0;
        left: auto;
    }
    
    .timeline-page-container {
        grid-template-columns: 1fr 320px;
    }
}